<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="MeuSistema" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=testora.XXXX.XXX.XXX)(PORT=0000)))(CONNECT_DATA=(SID=test)));user id=EU;password=XXXXXX;Pooling=False" providerName="Oracle.ManagedDataAccess.Client" />
  </connectionStrings>
</configuration>